@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--main-color--);
    color: var(--text-color--);
    background-image: url('./Image/theme.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/* scrollbar custom */

html::-webkit-scrollbar {
    width: 0.2rem;
    background-color: var(--main-color--);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--mini-bg-color);
    border-radius: 5rem;
}

:root {
    --main-color--: black;
    --theme-color--: #DE3163;
    --text-color--: white;
    --button-color: #808080;
    --mini-bg-color: #05014a;
    --warning-color--: yellow;
}

.navbar {
    width: 100%;
    background-color: var(--mini-bg-color);
    padding: 20px 90px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color--);
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.cart-bag {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color--);
    background-color: var(--theme-color--);
    border-radius: 50%;
    padding: 10px 9px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.1);
}

.cart-bag:hover {
    transform: scale(1.2);
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu li {
    position: relative;
    transition: 0.5s;
}

.menu li a {
    color: var(--text-color--);
    font-size: 1rem;
    font-weight: 600;
}

.menu li:hover {
    transform: scale(1.1);
}

input[type=checkbox] {
    display: none;
}


/* HAMBURGER MENU */

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

input[type=text] {
    float: right;
    padding: 4px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
}

header a {
    color: var(--text-color--);
    font-size: 1rem;
    font-weight: 600;
}

.btn {
    background-color: var(--theme-color--);
    border-radius: 20px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color--);
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.1);
}

.services {
    position: relative;
}

.dropdown {
    background-color: var(--mini-bg-color);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    /* top: 26px; */
}

.dropdown li+li {
    margin-top: 5px;
}

.dropdown li {
    /* padding: 0.5em 1em; */
    width: 8em;
    text-align: center;
}

.dropdown li a {
    font-size: 0.8rem;
}

.dropdown li:hover {
    background-color: var(--theme-color--);
}

.services:hover .dropdown {
    display: block;
}


/* cover section start */

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
}

.container img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    object-fit: cover;
    object-position: center;
}

.home-text {
    padding-top: 11rem;
    padding-left: 100px;
}

.home-text h1 {
    color: var(--text-color--);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding: 10px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* cover section end */


/* top game section start */

.heading {
    text-align: center;
    max-width: 968px;
    margin: 10px auto 10px auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--theme-color--);
}

.desks .desk-container {
    max-width: 960px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 3rem;
    margin-top: 1rem;
}

.videos .video-container {
    max-width: 960px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1rem;
    margin-top: 1rem;
}

.box .img-box {
    width: 100%;
    height: 330px;
}

.box h3 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.desks p {
    margin-top: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

p .fa-tag {
    width: 70px;
    height: 70px;
    font-size: 0.3rem;
    text-align: center;
    border-radius: 50%;
    color: var(--text-color--);
    background-color: var(--theme-color--);
    padding-top: 10px;
    padding-left: 5px;
    margin: auto;
}

.desks h2 {
    font-size: 1.3rem;
    text-align: center;
}

.videos h2 {
    font-size: 1.3rem;
    text-align: center;
}

.box .img-box img {
    width: 100%;
    height: 90%;
    padding-top: 1rem;
    object-fit: fill;
    transition: 0.5s;
}

.box .img-box iframe {
    width: 100%;
    height: 90%;
    padding-top: 1rem;
    object-fit: fill;
    transition: 0.5s;
}

.fa-circle-info {
    position: absolute;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 11rem;
    margin-top: 20px;
    background-color: var(--theme-color--);
    color: var(--text-color--);
    border-radius: 10px;
    transition: 0.5s;
}

.fa-circle-info:hover {
    transform: scale(1.15);
    box-shadow: 1px 1px 5px var(--theme-color--);
}

.box .img-box img:hover {
    transform: scale(1.1);
    filter: brightness(1.1) drop-shadow(1px 1px 5px var(--theme-color--));
    cursor: pointer;
}

.box span {
    text-decoration: line-through;
}


/* top game section end */


/* footer section start */

.footer {
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.social {
    display: flex;
    gap: 0.5rem;
}

.footer .social .logo i {
    color: var(--text-color--);
}

.footer .bx {
    font-size: 2rem;
    border-radius: 50%;
    padding: 2px;
    background-color: var(--theme-color--);
    color: var(--text-color);
    border: 4px solid var(--main-color--);
    transition: 0.5s;
}

.region {
    font-size: 1rem;
    font-weight: 500;
    padding: 30px;
    text-align: center;
    margin-top: 35px;
}

.copyright {
    background-color: var(--mini-bg-color);
    color: var(--text-color--);
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    padding: 5px 0;
    bottom: 0;
}


/* footer section end */


/* game page section start */


/* game page section end */


/* upcoming page section start */

.status-text {
    color: var(--warning-color--);
}


/* upcoming page section end */


/* contact us page section start */

.content h2 {
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    /* border-bottom: 1px solid var(--main-color); */
}

.content {
    background-color: var(--mini-bg-color);
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
}

.content form {
    padding: 2.9rem 0;
}

.content h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    top: 8rem;
    left: 35rem;
    z-index: 200;
    color: var(--text-color--);
}

.content .input-group label {
    display: block;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 29px;
}

.content .user-input {
    width: 80%;
    padding: 10px 15px;
    margin: 0 50px;
    border: 1px solid var(--mini-bg-color);
    border-radius: 5px;
}

.btn-contact {
    width: 80%;
    padding: 10px 15px;
    margin: 10px 50px;
    border: 1px solid var(--mini-bg-color);
    background-color: var(--theme-color--);
    color: var(--text-color--);
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.content .btn-contact:hover {
    cursor: pointer;
}


/* contact us page section end */


/* shopping cart start */

.cart-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color--);
}

.Cart-Container {
    width: 70%;
    height: 100vh;
    background-color: var(--text-color--);
    border-radius: 20px;
    box-shadow: 0px 1px 20px var(--mini-bg-color);
}

.Header {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}

.about {
    height: 100%;
}

.title {
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: var(--mini-bg-color);
    margin-top: 3rem;
}

.subtitle {
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: var(--mini-bg-color);
    margin-top: 1rem;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
}

.save {
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

hr {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}

.button {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #202020;
}


/* modal pop up start */

.md-close {
    background-color: var(--theme-color--);
    color: var(--text-color--);
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 2px;
}

.md-close:hover {
    background-color: var(--main-color--);
}

body>a {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-modal:target {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(15, 17, 143, 0.8);
    transition: all 0.3s;
}

.md-modal:target~.md-overlay {
    opacity: 1;
    visibility: visible;
}


/* Content styles */

.md-content {
    color: var(--text-color--);
    background: var(--mini-bg-color);
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}

.md-content h4 {
    font-size: 0.9rem;
}

.md-content ul {
    font-size: 0.9rem;
}

.md-content .image-box {
    width: 100%;
}

.md-content>div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content>div p {
    margin: 0;
    padding: 10px 0;
}

.md-content>div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content>div ul li {
    padding: 5px 0;
}

.md-content a {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}


/* Effect */

.md-modal .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-modal:target .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


/* modal pop up end */


/* shopping cart end */


/* responsive section */

@media (max-width:1080px) {
    .home-text {
        padding: 0 100px;
    }
    .menu {
        display: none;
        position: absolute;
        background-color: var(--mini-bg-color);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: var(--mini-bg-color);
        transition: 0.3s ease;
    }
    .menu li+li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        bottom: 0px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: var(--mini-bg-color);
    }
    .Cart-Container {
        width: 100%;
    }
    .Cart-Items {
        flex-direction: column;
        align-items: center;
        row-gap: 0.3rem;
    }
    .Cart-Items .image-box {
        padding-bottom: 5.5rem;
        background-color: red;
        height: 0.1rem;
    }
    .Cart-Items .about {
        height: 8rem;
    }
    .subtitle {
        bottom: 1rem;
    }
    hr {
        margin-top: 13.5rem;
    }
    .total {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:950px) {
    header .navbar {
        display: none;
    }
    .cart-bag {
        display: none;
    }
    .search-bar {
        display: none;
    }
    .home-text h1 {
        font-size: 2rem;
    }
    .shopping-bag .bx-shopping-bag {
        font-size: 20px;
        margin-top: 5px;
        margin-left: 180px;
    }
    .box h3 {
        font-size: 0.9rem;
    }
    .box span {
        font-size: 0.9rem;
    }
    .fa-circle-info {
        font-size: 1.4rem;
        width: 35px;
        height: 35px;
        padding-top: 6.5px;
        padding-left: 6.5px;
        margin-left: 9.5rem;
    }
}

@media (max-width:830px) {
    .box h3 {
        font-size: 0.8rem;
    }
    .box span {
        font-size: 0.8rem;
    }
    .fa-circle-info {
        font-size: 1.4rem;
        width: 35px;
        height: 35px;
        padding-top: 6.5px;
        padding-left: 6.5px;
        margin-left: 12rem;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:766px) {
    .home-text {
        padding: 0 80px;
    }
    .fa-circle-info {
        font-size: 1.4rem;
        width: 35px;
        height: 35px;
        padding-top: 6.5px;
        padding-left: 6.5px;
        margin-left: 11rem;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:690px) {
    .fa-circle-info {
        font-size: 1.4rem;
        width: 35px;
        height: 35px;
        padding-top: 6.5px;
        padding-left: 6.5px;
        margin-left: 9.5rem;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:570px) {
    .box h3 {
        font-size: 1rem;
    }
    .box span {
        font-size: 1rem;
    }
    .fa-circle-info {
        font-size: 1.4rem;
        width: 35px;
        height: 35px;
        padding-top: 6.5px;
        padding-left: 6.5px;
        margin-left: 13rem;
    }
    .home-text {
        padding: 0 40px;
    }
    .content {
        padding-right: 25px;
    }
    .footer .logo {
        padding: 0 5px;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:485px) {
    .home-text {
        padding: 0 20px;
    }
    .home-text h1 {
        font-size: 1rem;
    }
    .home-text article {
        font-size: 0.4rem;
    }
    .shopping-cart {
        font-size: 0.6rem;
        width: 140px;
    }
    .shopping-bag .bx-shopping-bag {
        font-size: 15px;
        margin-top: 4px;
        margin-left: 130px;
    }
    .fa-circle-info {
        margin-left: 20rem;
    }
    .footer .logo {
        padding: 0 1px;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:430px) {
    .fa-circle-info {
        margin-left: 8.5rem;
    }
    .Cart-Container {
        width: 100%;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:376px) {
    .home-text {
        padding: 0 5px;
    }
    .box h3 {
        margin: 10px 0;
    }
    .fa-circle-info {
        margin-left: 18rem;
        margin-top: 20px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .total {
        align-items: flex-start;
    }
}

@media (max-width:320px) {
    .fa-circle-info {
        margin-left: 15rem;
        margin-top: 20px;
    }
    .total {
        align-items: flex-start;
    }
}